*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(136, 168, 248);
    text-align:center;
}
.container{
    height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    gap: 1.5vmin;
}
#box{
    height:18vmin;
    width:18vmin;
    font-size:80px;
    border-radius:10%;
    border:none;
    color:red;
}
#reset{
    height:40px;
    width:100px;
    border-radius:10%;
    border:none;
    font-style:italic;
    background-color: rgb(138, 243, 170);
}
#win{
    color:black;
    text-align: center;
}